<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(songs)}">
        <h2>Song List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Artist</th>
            </tr>
            <tr th:each="song : ${songs}">
                <td th:text="${song.id}"><a href="/song/${song.id}">Id</a></td>
                <td th:text="${song.title}">title</td>
                <td th:text="${song.artistName}">artistName</td>
                <td><a th:href="${'/song/' + song.id}">View</a></td>
                <td><a th:href="${'/song/edit/' + song.id}">Edit</a></td>
                <td><a th:href="${'/song/delete/' + song.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>