<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Song Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Song Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${song.id}">Song Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${song.title}">title</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Artist:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${song.artistName}">artist</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Lyrics:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${song.lyrics}">lyrics</p>
                    </div>
                </div>
            </form>
    </div>
</div>

</body>
</html>